# Build and Release Folders
bin/
bin-debug/
bin-release/
.metadata/
.metadata

# Project property files
.settings/

#mac ds store
.DS_Store

PlaySketchWebApplication/html-template/history/history.css

PlaySketchWebApplication/html-template/history/history.js

PlaySketchWebApplication/html-template/history/historyFrame.html

PlaySketchWebApplication/html-template/index.template.html

PlaySketchWebApplication/html-template/playerProductInstall.swf

PlaySketchWebApplication/html-template/swfobject.js

PlaySketch_Skins/.flexLibProperties

*.kmv
*.css

*.js

*.html

*.swf

*.ipa
*.apk

TestDrag/
TestDragV2/

as3corelib/
.idea/workspace.xml
