# Build and Release Folders
bin/
bin-debug/
bin-release/
.metadata/
.metadata

# Project property files
.actionScriptProperties
.flexProperties
.settings/
.project

#mac ds store
.DS_Store

KSketchApp_Designer/.flexLibProperties

KSketchApp_Lib/.flexLibProperties

PlaySketchDevTools/.flexLibProperties

PlaySketchInterface_Lib/.flexLibProperties

PlaySketchWebApplication/html-template/history/history.css

PlaySketchWebApplication/html-template/history/history.js

PlaySketchWebApplication/html-template/history/historyFrame.html

PlaySketchWebApplication/html-template/index.template.html

PlaySketchWebApplication/html-template/playerProductInstall.swf

PlaySketchWebApplication/html-template/swfobject.js

PlaySketch_Skins/.flexLibProperties

*.css

*.js

*.html

*.swf
