# Build and Release Folders
bin/
bin-debug/
bin-release/
.metadata/
.metadata

# Project property files
.actionScriptProperties
.flexProperties
.settings/
.project

#mac ds store
.DS_Store
PlaySketchInterface_Lib/.actionScriptProperties
